<!doctype html>
<html>
    <head>
        <title>Sign Up</title>
    </head>
    <body>
        <h1>Sign Up</h1>
        <form method="POST" action="/signup">
            {{ form.hidden_tag() }}
            <p>
                {{ form.first_name.label }}<br>
                {{ form.first_name(size=32) }}
            </p>
            <p>
                {{ form.last_name.label }}<br>
                {{ form.last_name(size=32) }}
            </p>
            <p>
                {{ form.email.label }}<br>
                {{ form.email(size=32) }}
            </p>
            <p>
                {{ form.password.label }}<br>
                {{ form.password(size=32) }}
            </p>
            <p>
                {{ form.password2.label }}<br>
                {{ form.password2(size=32) }}
            </p>
            <p>{{ form.submit() }}</p>
        </form>
    </body>
</html>
